.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2.5rem 2.5rem 2.5rem;
  min-height: 22rem;
  margin-bottom: 2.5rem;
  grid-gap: 10rem;
  margin: 5rem;
}

.about-subtext {
  margin-top: 2rem;
}

.double-image {
  max-height: 20rem;
  position: relative;
  top: 4rem;
  left: 2rem;
}

.double-image > img {
  width: 60%;
  height: 100%;
  object-fit: cover;
}

.about-1 {
  position: relative;
  top: 0;
  left: 0;
}

.about-2 {
  position: absolute;
  top: -4.5rem;
  left: 8rem;
}

.hero-text h1 {
  font-size: 40px;
}

@media only screen and (max-width: 824px) {
  .about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 22rem;
    margin-bottom: 2.5rem;
    grid-gap: 1rem;
    margin: 1rem;
    padding-right: 55px;
  }

  .hero-text h1 {
    font-size: 22px;
  }

  .hero-text h2 {
    font-size: 20px;
  }

  .hero-text p {
    font-size: smaller;
  }

  .double-image {
    max-height: 15rem;
    position: relative;
    top: 4rem;
    left: 2rem;
  }
  .double-image > img {
    width: 60%;
    height: 100%;
    object-fit: cover;
  }
  .about-1 {
    position: relative;
    top: 0;
    left: 0;
  }
  .about-2 {
    position: absolute;
    top: -3.5rem;
    left: 3rem;
  }
}